menu "USB Camera"

	config USB_CAMERA
		depends on USB_UVC
		bool "Enable USB Camera"
		default y
		help
			Enable USB Camera

	config UVC_CHECK_BULK_JPEG_HEADER
		depends on USB_CAMERA
		bool "Check JPEG (ff d8) header in bulk payload"
		default y

	config UVC_URB_NUM
		int "UVC URB count"
		range 0 64
		default 18
		help
			URB number advice large than camera_num * 4

	config UVC_NUM_PACKET_PER_URB
		int "The packets per urb contain"
		range 0 32
		default 8
		help
			because high speed 125us generate a packet

endmenu
