menu "INTEGRATION_DOORBELL"

    config INTEGRATION_DOORBELL
        bool "Doorbell integration"
        default n
    config INTEGRATION_DOORBELL_CS2
        bool "Doorbell integration CS2"
        default n

    config BLEND_UI
        depends on BLEND
        bool "Enable Blend UI"
        default n
endmenu
