menu "bk peripheral"
	source "${ARMINO_AVDK_DIR}/components/bk_peripheral/src/lcd/rgb/Kconfig"
	source "${ARMINO_AVDK_DIR}/components/bk_peripheral/src/lcd/mcu/Kconfig"
	source "${ARMINO_AVDK_DIR}/components/bk_peripheral/src/lcd/qspi/Kconfig"
	source "${ARMINO_AVDK_DIR}/components/bk_peripheral/src/dvp/Kconfig"
	source "${ARMINO_AVDK_DIR}/components/bk_peripheral/src/tp/Kconfig" 
endmenu
