menu "LVGL Meter Configuration"

    config INTEGRATION_DOORBELL
        bool "Doorbell integration"
        default n

    config INTEGRATION_DOORBELL_CS2
        bool "Doorbell integration CS2"
        default n

    config LV_USE_DEMO_METER
        bool "LVGL Meter"
        default n
		
    config VFS_DEMO_USE_FATFS
        bool "use fatfs of sdcard for lvgl image show"
        default n
		
    config VFS_DEMO_USE_LITTLEFS
        bool "use littlefs for lvgl image show"
        default n

	config LVGL_DEMO
		bool "Enable Lvgl Demo"
		default n
endmenu
